.tv-carousel {
  position: relative;
  top: -100px;
  padding-inline-start: rem(60px);
  @media(max-width: 1200px) {
    top: -30px;
  }
  @media (max-width: 800px) {
    padding-inline-start: rem(20px);
    
  }
  h2 {
    user-select: none;
    display: table-cell;
    vertical-align: bottom;
    line-height: 1.25vw;
    font-size: 1.4vw;
    color: $text2;
    font-weight: 700;
    @media (max-width: 1000px) {
      font-size: rem(16px);
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    opacity: 0;
    position: absolute;
    height: 100%;
    top: 0;
    margin: 0;
    font-weight: 700;
    padding: 25px;
    color: $text;
    transition: transform 0.3s;
    &:hover {
      background-color: rgba(20, 20, 20, 0.7);
    }
  }
  .swiper-button-prev {
    display: none; //mark
  }
  .swiper-button-next {
    right: -10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .swiper {
    width: 100%;
    height: 100%;
    margin-block-end: rem(40px);
    margin-block-start: 1em;
    &:hover {
      .swiper-button-prev,
      .swiper-button-next {
        opacity: 1;
      }
    }
  }

  .swiper-slide {
    position: relative;
    @include flex;
    border-radius: 4px;
    cursor: pointer;
    .top-ten-slider {
      display: flex;
      align-items: center;
      .media-image {
        width: 70%;
      }
      .number {
        margin-inline-end: -60px;
        @media (max-width: 1200px) {
          margin-inline-end: rem(-40px)
        }
      }
    }
    .media-container {
      position: relative;
      &:hover {
        img {
          visibility: hidden;
        }
        video {
          visibility: visible;
        }
        .content {
          transition-delay: 0.5s;
          transform: translateY(0);
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
        }
      }
      .content {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 30%;
        background-color: $background2;
        transform: translateY(100%);
        transition: all 0.3s;
      }
    }
    img, video {
      border-radius: 4px;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition-delay: 0.7s;
    }
    video {
      position: absolute;
      top: 0;      
      visibility: hidden;
      @media (max-width: 1200px) {
        display: none;
      }
    }
  }
}
