.watch-hero {
    @include main-layout;
    position: relative;
    width: 100vw;
    // filter: brightness(90%);
    height: 56vw;
    background-repeat: no-repeat;
    background-size: 100%;
    .hero-opacity {
        background: linear-gradient(77deg,rgba(0,0,0,.6) 0,rgba(0,0,0,0) 85%);
        position: absolute;
        top: 0;
        left: 0;
        right: 26.09%;
        bottom: 0;
        opacity: 1;
        transition: opacity .5s;
    }
      .inner-hero {
        position: absolute;
        top: 0;
        top: 35%;
        width: 36%;
        z-index: 10;
        img, p {
            user-select: none;
        }
        img {
            min-height: 13.2vw;
            position: relative;
            margin-bottom: 1.2vw;        
        }
        p {
            line-height: normal;
            width: 100%;
            font-size: 1.2vw;
            text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
        }
        button {
            @include white-button;
            @include flex;
            padding: 0.6em 1.6em;
            gap: rem(14px);
            border-radius: 6px;
            margin-block-start: 1.5vw;
        }
      }
}