@font-face {
    font-family: netflix-light;
    src: url('../../assets/fonts/NetflixSansRegular.ttf');
}

@font-face {
    font-family: netflix-bold;
    src: url('../../assets/fonts/NetflixSansBold.ttf');
}